*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}
.promo {
    height: 800px;
    background: url('../img/backgrounds/main_bg1.jpg') center center/cover no-repeat;
    padding: 38px 0 61px 0;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
h1{
    margin-top: 53px;
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 9.5px;
}
.title{
    text-transform: uppercase;
    color: #F9BF3B;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
}
.simple .title_big{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}
h2.title{
    margin-top: 21px;
}
.promo .promo_text{
    padding: 0 13px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
    }
.promo .promo_text span{
    font-family: 'Roboto';
    color: #F9BF3B;
    font-weight: 700;
}
.promo .promo_btn, .gift .gift_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    
}
.more{
    margin-top: 73px;
}
.more .more_text{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header{
    color: #252525;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.finish .finish_header{
    color: #efefef;
}

.waiting .waiting_divider, .finish .finish_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader{
    color: #4a4a4a;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;  
}

.waiting .waiting_wrapper .waiting_item .waiting_deskr{
    margin-top: 33px;
    color: #4a4a4a;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}
.optimisation{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimisation .optimisation_header{
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
}
.optimisation .optimisation_text{
    margin: 25px 0 0 391px;
    color: #4a4a4a;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
}
.optimisation .optimisation_text span{
    font-family: "Roboto";
    font-weight: 700;
}
.optimisation .optimisation_img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/backgrounds/second_bg.jpg) center center/cover no-repeat;
}

.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_deskr{
    margin-top: 25px;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 17px;
    text-align: center;
}

.gift{
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 87px 0;
}

.gift .gift_img{
    display: block;
    margin: 0 auto;
}

.gift .gift_text{
    margin: 0 auto;
    margin-top: 42px;
    color: #252525;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center
}

.gift .gift_btn{
    margin-top: 52px;
}

.first{
    min-height: 512px;
    padding: 88px 0 0 0;
}

.first .first_img{
    display: block;
    margin: 0 auto;
}

.first .first_web{
    margin-top: 37px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.first .first_data{
    margin-top: 30px;
    color: #299cbd;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.first .first_places{
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: center;
}

footer{
    min-height: 169px;
    background-color: #1a1a1a;
    padding-top: 63px;
}

.info{
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
}

footer a{
    color: #888888;
    font-family: Roboto;
}

.underlined{
    text-decoration: underline;
}